<div ng-controller="tenCtrl">
<!-- <div class="col-12"><button class="btn btn-success btn-block mt-3" ng-click="postdoctordata(date, time)">Send To Patient</button></div> -->
<!-- </div> -->
    <h1>Deepartments Details</h1>
    <table id="customers">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Deepartment</th>
                <th>Discriptions</th>
                <th>Add Doctor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Bons</td>
                <td>huyvj</td>
                <td>
                    <button class="btn there btn-success" id="test" ng-click="doctor()" onclick="myFunc1(value)" value="Bone">
                        <a ui-sref="Depertments-doctors()">
                            click here
                        </a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Eyes</td>
                <td>huyvj</td>
                <td>
                    <button class="btn there btn-success" id="test" ng-click="doctor()" onclick="myFunc2(value)" value="Eye">
                        <a ui-sref="Depertments-doctors()">
                            click here
                        </a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Cardiologist</td>
                <td>huyvj</td>
                <td>
                    <button class="btn there btn-success" id="test" ng-click="doctor()" onclick="myFunc3(value)" value="Cardiologist">
                        <a ui-sref="Depertments-doctors()">
                            click here
                        </a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Dentist</td>
                <td>huyvj</td>
                <td>
                    <button class="btn there btn-success" id="test"  ng-click="doctor()" onclick="myFunc4(value)" value="Dentist">
                        <a ui-sref="Depertments-doctors()">
                            click here
                        </a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>