<div ng-controller="twelveController">
    order By: <select ng-model="shortColumn">
        <option value="id">id ASC</option>
        <option value="-id">id DSC</option>
        <option value="first_name">Name</option>
        <option value="last_name">Last Name</option>
        <option value="department">department</option>
        <option value="previous_exp">Experience</option>
    </select>
    Search: <input type="text" placeholder="Search here" ng-model="searchText">
    <table class="table" id="customers">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone no.</th>
                <th>Deepartment</th>
                <th>Degree</th>
                <th>Experience (years)</th>
                <th>Accepet Request</th>
                <th>Cancel Request</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="docRqst in doctorRqst  | orderBy: shortColumn | filter: searchTextt">
                <td>{{docRqst.id}}</td>
                <td>{{docRqst.first_name}}</td>
                <td>{{docRqst.last_name}}</td>
                <td>{{docRqst.phone_no}}</td>
                <td>{{docRqst.department}}</td>
                <td>{{docRqst.degree}}</td>
                <td>{{docRqst.previous_exp}}</td>
                <td><button class="btn btn-success" onclick="docAcpt(value)" value="{{docRqst.id}}" ng-click="acceptDoctRqst()">
                            Accept Request</button> </td>
                <td>
                    <button class="btn btn-primary" id="test2" onclick="docReject(value)" value="{{docRqst.id}}" ng-click="rejectDoctRqst()">
                            Reject Request
                    </button> </td>
            </tr>
        </tbody>
    </table>
</div>
</table>
</div>