<div ng-controller="ElevenController">
    <div class="col-12 bg-light mt-5">UPDATE PATIENT APPOINMENT</div>
    <div class="row row-content mt-3">
        <div class="col-6 col-md-3">Chane Appoinment Date</div>
        <div class="col-6 col-md-3"><input type="date"  ng-model="app_date"> </div>
        <div class="col-6 col-md-3">Change Appoinment Time</div>
        <div class="col-6 col-md-3"><input type="time" id="ddate" ng-model="app_time"> </div>
    </div>
        <table id="customers">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Cancel Request</th>
                </tr>
            </thead>
            <tbody>                                                                                     
                <tr ng-repeat="doctors in doctorss">
                    <td>{{doctors.id}}</td>
                    <td>{{doctors.first_name}}</td>
                    <td>{{doctors.last_name}}</td>

                    <td>
                        <button class="btn there btn-success" id="test" onclick="sendToDOc(value)" ng-click="sendToDoctor(app_date, app_time)" value="{{doctors.id}}">
                        Request Send to Doctor</button>
                    </td>
                </tr>
            </tbody>
        </table>

</div>