
  <!-- <div class="container" ng-controller="seventhController"> -->
    <!-- <div class="col-12 bg-light mt-5">UPDATE PATIENT APPOINMENT</div>
<div class="row row-content mt-3">
    <div class="col-6 col-md-3">First Name</div>
    <div class="col-6 col-md-3" id="fnam">Arjun </div>
    <div class="col-6 col-md-3">First Name</div>
    <div class="col-6 col-md-3" id="lnam">Arjun </div>
</div>
<div class="row row-content mt-3">
    <div class="col-6 col-md-3">Patient Id</div>
    <div class="col-6 col-md-3" id="id">07 </div>
    <div class="col-6 col-md-3">Email</div>
    <div class="col-6 col-md-3" id="mail">Arjun </div>
</div>
<div class="row row-content mt-3">
    <div class="col-6 col-md-3">Appoinment Date</div>
    <div class="col-6 col-md-3">Arjun </div>
    <div class="col-6 col-md-3">Appoinment Time</div>
    <div class="col-6 col-md-3">Arjun </div>
</div> -->
<!-- <div class="col-12 bg-light mt-5">UPDATE PATIENT APPOINMENT</div>
<div class="row row-content mt-3">
    <div class="col-6 col-md-3">Chane Appoinment Date</div>
    <div class="col-6 col-md-3"><input type="date" ng-model="date"> </div>
    <div class="col-6 col-md-3">Change Appoinment Time</div>
    <div class="col-6 col-md-3"><input type="time" id="ddate" ng-model="time"> </div>
</div>
<div class="col-12"><button class="btn btn-success btn-block mt-3" ng-click="postdoctordata(date, time)">Send To Patient</button></div>
</div>
<span type="text" id="nam"></span> -->